<div class="row">
	<div class="col-md-6">
		<h1>Basic form</h1>
		<%= bootstrap_builder_form_for @user, url: {action: "create"} do |user_f| %>
			<%= user_f.email_field :name, label_text: "Email" %>
			<%= user_f.password_field :name, label_text: "Password" %>
			<%= user_f.check_box :name, label_text: "Check box" %>
			<%= user_f.submit "Sabmit" %>
		<% end %>
		
		<h1>Inline form</h1>
		<%= bootstrap_builder_form_for @user, url: {action: "create"}, layout: :inline do |user_f| %>
			<%= user_f.email_field :name, label_text: "Email" %>
			<%= user_f.password_field :name, label_text: "Password" %>
			<%= user_f.check_box :name, label_text: "Check box" %>
			<%= user_f.submit "Sabmit" %>
		<% end %>
		
		<h1>Horizontal form</h1>
		<%= bootstrap_builder_form_for @user, url: {action: "create"}, layout: :horizontal do |user_f| %>
			<%= user_f.email_field :name, label_text: "Email" %>
			<%= user_f.password_field :name, label_text: "Password" %>
			<%= user_f.check_box :name, label_text: "Check box" %>
			<%= user_f.submit "Sabmit" %>
		<% end %>
		
		<h1>Supported controls</h1>
		<h2>Inputs</h2>
		<%= bootstrap_builder_form_for @user, url: {action: "create"} do |user_f| %>
			<%= user_f.text_field :name, label_text: "Text field" %>
			<%= user_f.password_field :name, label_text: "Password field" %>
			<%= user_f.date_field :name, label_text: "Date field" %>
			<%= user_f.datetime_field :name, label_text: "Date time field" %>
			<%= user_f.datetime_local_field :name, label_text: "Date time local field" %>
			<%= user_f.month_field :name, label_text: "Month field" %>
			<%= user_f.time_field :name, label_text: "Time field" %>
			<%= user_f.email_field :name, label_text: "Email field" %>
			<%= user_f.number_field :name, label_text: "Number field" %>
			<%= user_f.phone_field :name, label_text: "Phone field" %>
			<%= user_f.range_field :name, label_text: "Range field" %>
			<%= user_f.search_field :name, label_text: "Search field" %>
			<%= user_f.telephone_field :name, label_text: "Telephone field" %>
			<%= user_f.text_area :name, label_text: "Text area" %>
			<%= user_f.url_field :name, label_text: "Url field" %>
			<%= user_f.week_field :name, label_text: "Week field" %>
			<%= user_f.color_field :name, label_text: "Color field" %>
			<%= user_f.check_box :name, label_text: "Check box" %>
		<% end %>
	</div>
	<div class="col-md-6">
		<h1>Basic form</h1>
		<form role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email</label>
		    <input type="email" class="form-control" id="exampleInputEmail1">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Check box
		    </label>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
		
		<h1>Inline form</h1>
		<form class="form-inline" role="form">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail2">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <div class="input-group">
		      <div class="input-group-addon">@</div>
		      <input class="form-control" type="email" placeholder="Enter email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputPassword2">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Check box
		    </label>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
		
		<h1>Horizontal form</h1>
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="inputPassword3">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Check box
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Submit</button>
		    </div>
		  </div>
		</form>
		
		<h1>Supported controls</h1>
		<h2>Inputs</h2>
		<h2>Checkboxes and radios</h2>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Option one is this and that&mdash;be sure to include why it's great
		  </label>
		</div>
		<div class="checkbox disabled">
		  <label>
		    <input type="checkbox" value="" disabled>
		    Option two is disabled
		  </label>
		</div>

		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		    Option one is this and that&mdash;be sure to include why it's great
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		    Option two can be something else and selecting it will deselect option one
		  </label>
		</div>
		<div class="radio disabled">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
		    Option three is disabled
		  </label>
		</div>
	</div>
</div>